<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @weather.name %>
</p>

<p>
  <b>Temp:</b>
  <%= @weather.temp %>
</p>

<p>
  <b>Moisture:</b>
  <%= @weather.moisture %>
</p>


<%= link_to 'Edit', edit_weather_path(@weather) %> |
<%= link_to 'Back', weathers_path %>
